* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrected box-sizing */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center; /* Center content vertically */
}

.candidatePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Make the image circular */
}

.candidateData {
    text-align: left;
    margin-left: 20px;
    flex-grow: 1; /* Allow the content to grow */
}

h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.line-container {
    position: relative;
    display: flex;
    align-items: center;
}

.line-with-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-with-text::before {
    content: "";
    position: absolute;
    width: 2px; /* Width of the vertical line */
    height: 100%;
    background-color: black; /* Line color */
    left: 50%;
    top: 0;
    z-index: 1;
}

.vertical-heading {
    position: relative;
    background-color: white; /* Background to hide the line behind the text */
    padding: 0 5px; /* Padding around the text */
    z-index: 2; /* Ensure the text is above the line */
    font-weight: bold;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: translateX(-50%);
}

table {
    width: 100%;
    margin-top: 20px;
    border-spacing: 0 15px;
}

td, th {
    padding: 10px;
    vertical-align: top;
}

th {
    text-align: left;
    width: 150px;
}

hr {
    border: 1px solid black;
}
