*{
    margin: 0;
    padding:0;
    box-sizing:0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.candidatePhoto{
    width: 150px;
    height: 150px;
}
.candidateData{
    text-align: center;
    margin: auto;
}
h4{
    text-transform: uppercase;
    writing-mode: vertical-rl;
    margin-right: 100px;
}
th{
        display: inline-block;
    }

hr{
    height: 100%;
    width: 1px;
    margin-left: 10px;
    /* display: inline-block; */

}
